:root .dark {
     /* Gray */
     --gray-50: #F9FAFB;
     --gray-100: #F3F4F6;
     --gray-200: #E5E7EB;
     --gray-300: #D1D5DB;
     --gray-400: #9CA3AF;
     --gray-500: #6B7280;
     --gray-600: #4B5563;
     --gray-700: #374151;
     --gray-800: #1F2937;
     --gray-900: #111827;
     --gray-950: #0F172A;
   
     /* Mauve */
     --mauve-50: #FAF8FA;
     --mauve-100: #F4F1F5;
     --mauve-200: #E7E3EB;
     --mauve-300: #D3C9D8;
     --mauve-400: #B5A6BC;
     --mauve-500: #937E9B;
     --mauve-600: #715E78;
     --mauve-700: #57455D;
     --mauve-800: #3F3244;
     --mauve-900: #2B232E;
     --mauve-950: #1E1821;
   
     /* Slate */
     --slate-50: #F8FAFC;
     --slate-100: #F1F5F9;
     --slate-200: #E2E8F0;
     --slate-300: #CBD5E1;
     --slate-400: #94A3B8;
     --slate-500: #64748B;
     --slate-600: #475569;
     --slate-700: #334155;
     --slate-800: #1E293B;
     --slate-900: #0F172A;
     --slate-950: #0A101D;
   
     /* Sage */
     --sage-50: #F8FAF9;
     --sage-100: #F1F5F4;
     --sage-200: #E3ECE9;
     --sage-300: #C8D9D3;
     --sage-400: #A4BFB6;
     --sage-500: #7C9D94;
     --sage-600: #597B72;
     --sage-700: #3E6058;
     --sage-800: #2B443E;
     --sage-900: #1A2C2A;
     --sage-950: #10201F;
   
     /* Olive */
     --olive-50: #FAFAF8;
     --olive-100: #F5F5F1;
     --olive-200: #E7E8E3;
     --olive-300: #D0D1C9;
     --olive-400: #B2B3A8;
     --olive-500: #8E8E81;
     --olive-600: #6D6D63;
     --olive-700: #53534B;
     --olive-800: #3C3C35;
     --olive-900: #292924;
     --olive-950: #1C1C19;
   
     /* Sand */
     --sand-50: #F9F9F8;
     --sand-100: #F3F3F1;
     --sand-200: #E5E5E2;
     --sand-300: #CFCECC;
     --sand-400: #B1B0AE;
     --sand-500: #8E8D8A;
     --sand-600: #6F6E6B;
     --sand-700: #555553;
     --sand-800: #3E3E3C;
     --sand-900: #2B2B2A;
     --sand-950: #1F1F1E;
   
     /* Tomato */
     --tomato-50: #FFECE8;
     --tomato-100: #FFD4CB;
     --tomato-200: #FFB2A6;
     --tomato-300: #FF8E7D;
     --tomato-400: #FF6954;
     --tomato-500: #FF4631;
     --tomato-600: #D93728;
     --tomato-700: #B22C21;
     --tomato-800: #8C221A;
     --tomato-900: #651913;
     --tomato-950: #410E0B;
   
     /* Red */
     --red-50: #FFE5E8;
     --red-100: #FFC5CB;
     --red-200: #FF9DA8;
     --red-300: #FF737E;
     --red-400: #FF4955;
     --red-500: #FF1F2C;
     --red-600: #D91725;
     --red-700: #B2121F;
     --red-800: #8C0D19;
     --red-900: #650814;
     --red-950: #3E040D;
   
     /* Ruby */
     --ruby-50: #FFE9ED;
     --ruby-100: #FFCAD2;
     --ruby-200: #FFA2AE;
     --ruby-300: #FF7988;
     --ruby-400: #FF5062;
     --ruby-500: #FF2740;
     --ruby-600: #D91F36;
     --ruby-700: #B21A2E;
     --ruby-800: #8C1425;
     --ruby-900: #650E1B;
     --ruby-950: #3E080F;
   
     /* Crimson */
     --crimson-50: #FFE8EE;
     --crimson-100: #FFCAD5;
     --crimson-200: #FFA2B3;
     --crimson-300: #FF7A8E;
     --crimson-400: #FF516C;
     --crimson-500: #FF2751;
     --crimson-600: #D91F44;
     --crimson-700: #B21A39;
     --crimson-800: #8C142D;
     --crimson-900: #650E21;
     --crimson-950: #3E0814;
   
     /* Pink */
     --pink-50: #FFEAf2;
     --pink-100: #FFCADF;
     --pink-200: #FFA4C8;
     --pink-300: #FF7DAF;
     --pink-400: #FF5795;
     --pink-500: #FF307C;
     --pink-600: #D92667;
     --pink-700: #B21F53;
     --pink-800: #8C183F;
     --pink-900: #65122A;
     --pink-950: #3E0B16;
   
     /* Plum */
     --plum-50: #F9E7F5;
     --plum-100: #F4C6EB;
     --plum-200: #EC9FDD;
     --plum-300: #E379CD;
     --plum-400: #DB54BC;
     --plum-500: #D32EA9;
     --plum-600: #AE2591;
     --plum-700: #891D72;
     --plum-800: #631652;
     --plum-900: #3D0E32;
     --plum-950: #26091F;
     
     /* Purple */
    --purple-50: #F3E9FC;
    --purple-100: #E6C8FA;
    --purple-200: #D3A2F5;
    --purple-300: #BF7DEE;
    --purple-400: #AA58E8;
    --purple-500: #9633E1;
    --purple-600: #7A29BA;
    --purple-700: #5F2093;
    --purple-800: #43166C;
    --purple-900: #270D45;
    --purple-950: #160726;

    /* Violet */
    --violet-50: #F2E9FE;
    --violet-100: #E1C9FD;
    --violet-200: #CFA6FC;
    --violet-300: #BD84FA;
    --violet-400: #AA62F9;
    --violet-500: #9840F7;
    --violet-600: #7C34CC;
    --violet-700: #6029A1;
    --violet-800: #451E77;
    --violet-900: #29124C;
    --violet-950: #160A29;

    /* Iris */
    --iris-50: #F5F5FC;
    --iris-100: #E5E5F8;
    --iris-200: #C4C4F2;
    --iris-300: #9F9FED;
    --iris-400: #7C7CE8;
    --iris-500: #6060E2;
    --iris-600: #4A4ACC;
    --iris-700: #3737B3;
    --iris-800: #2C2C8C;
    --iris-900: #1F1F66;
    --iris-950: #121245;

    /* Indigo */
    --indigo-50: #F4F5FD;
    --indigo-100: #E3E5FB;
    --indigo-200: #C1C6F6;
    --indigo-300: #9BA1F1;
    --indigo-400: #7982EC;
    --indigo-500: #5E67E7;
    --indigo-600: #4C53D0;
    --indigo-700: #3D43B3;
    --indigo-800: #2E3393;
    --indigo-900: #1E2266;
    --indigo-950: #121640;

    /* Blue */
    --blue-50: #EBF7FF;
    --blue-100: #D0ECFF;
    --blue-200: #A5D8FF;
    --blue-300: #74C2FF;
    --blue-400: #44ADFF;
    --blue-500: #1E98FF;
    --blue-600: #1779D6;
    --blue-700: #125DB3;
    --blue-800: #0E4690;
    --blue-900: #082F66;
    --blue-950: #041D40;

    /* Cyan */
    --cyan-50: #E9FAFF;
    --cyan-100: #C1EFFF;
    --cyan-200: #89E0FF;
    --cyan-300: #4ECPFF;
    --cyan-400: #21C0FF;
    --cyan-500: #08A6E6;
    --cyan-600: #0682B3;
    --cyan-700: #056290;
    --cyan-800: #034A66;
    --cyan-900: #022E40;
    --cyan-950: #011A26;

    /* Teal */
    --teal-50: #E6FAF7;
    --teal-100: #C1F3EC;
    --teal-200: #8CE6DA;
    --teal-300: #55DAC7;
    --teal-400: #2DC9B0;
    --teal-500: #14B29A;
    --teal-600: #0F927D;
    --teal-700: #0C715F;
    --teal-800: #085744;
    --teal-900: #043B2D;
    --teal-950: #02211A;

    /* Jade */
    --jade-50: #E3F8F0;
    --jade-100: #C0F1DC;
    --jade-200: #8AE2BB;
    --jade-300: #51D29A;
    --jade-400: #2AC880;
    --jade-500: #1CB768;
    --jade-600: #159052;
    --jade-700: #116E40;
    --jade-800: #0B4D2B;
    --jade-900: #062F1A;
    --jade-950: #031B0E;

    /* Green */
    --green-50: #E8F9EB;
    --green-100: #C9F2CE;
    --green-200: #9FE3A9;
    --green-300: #6FD183;
    --green-400: #4CC868;
    --green-500: #37B453;
    --green-600: #2E9245;
    --green-700: #237236;
    --green-800: #195426;
    --green-900: #10391A;
    --green-950: #08230F;

    /* Grass */
    --grass-50: #EDF9EC;
    --grass-100: #D3F2D2;
    --grass-200: #A8E3A5;
    --grass-300: #79D279;
    --grass-400: #58C458;
    --grass-500: #46B546;
    --grass-600: #369236;
    --grass-700: #297129;
    --grass-800: #1D541D;
    --grass-900: #123912;
    --grass-950: #091F09;

    /* Brown */
    --brown-50: #F6EBE7;
    --brown-100: #EED8CF;
    --brown-200: #E0B9AA;
    --brown-300: #D19584;
    --brown-400: #C17563;
    --brown-500: #AD5A46;
    --brown-600: #8D4938;
    --brown-700: #6E3A2D;
    --brown-800: #502B21;
    --brown-900: #361D15;
    --brown-950: #210F0B;

    /* Bronze */
    --bronze-50: #F8F5F3;
    --bronze-100: #EDE2DA;
    --bronze-200: #DBC2B5;
    --bronze-300: #C9A393;
    --bronze-400: #B68375;
    --bronze-500: #A4645A;
    --bronze-600: #864E47;
    --bronze-700: #6C3E38;
    --bronze-800: #52312B;
    --bronze-900: #39231E;
    --bronze-950: #241613;

    /* Gold */
    --gold-50: #FAF7F1;
    --gold-100: #F3EBD9;
    --gold-200: #E4D6B3;
    --gold-300: #D6C28F;
    --gold-400: #C7AD6C;
    --gold-500: #B8994E;
    --gold-600: #977B3F;
    --gold-700: #755F32;
    --gold-800: #554628;
    --gold-900: #392E1B;
    --gold-950: #241A11;

    /* Sky */
    --sky-50: #EAF8FF;
    --sky-100: #C9EDFF;
    --sky-200: #8FD9FF;
    --sky-300: #57C3FF;
    --sky-400: #2DAFED;
    --sky-500: #1396D6;
    --sky-600: #1074AD;
    --sky-700: #0D598C;
    --sky-800: #093E66;
    --sky-900: #042640;
    --sky-950: #021520;

    /* Mint */
    --mint-50: #E9FAF4;
    --mint-100: #C8F3E5;
    --mint-200: #90E6CA;
    --mint-300: #5ADAB2;
    --mint-400: #33C29A;
    --mint-500: #1CA27D;
    --mint-600: #177D63;
    --mint-700: #125C4A;
    --mint-800: #0C3F33;
    --mint-900: #06251E;
    --mint-950: #03130F;

    /* Lime */
    --lime-50: #F8FBEE;
    --lime-100: #ECF5CD;
    --lime-200: #D4E89B;
    --lime-300: #BFDC6C;
    --lime-400: #A7CF40;
    --lime-500: #8DB828;
    --lime-600: #739422;
    --lime-700: #58731B;
    --lime-800: #3D5314;
    --lime-900: #26350E;
    --lime-950: #141B08;

    /* Yellow */
    --yellow-50: #FFFBEe;
    --yellow-100: #FFF5C9;
    --yellow-200: #FFEA8F;
    --yellow-300: #FFDF57;
    --yellow-400: #FFD52D;
    --yellow-500: #E6B913;
    --yellow-600: #B49410;
    --yellow-700: #8C730D;
    --yellow-800: #665309;
    --yellow-900: #403405;
    --yellow-950: #241D02;

    /* Amber */
    --amber-50: #1F1300;
    --amber-100: #251804;
    --amber-200: #30200B;
    --amber-300: #39270F;
    --amber-400: #432E12;
    --amber-500: #533916;
    --amber-600: #6F4D1D;
    --amber-700: #A9762A;
    --amber-800: #FFC53D;
    --amber-900: #FFCB47;
    --amber-950: #FFCC4D;
    --amber-1000: #FFE7B2;

    /* Orange */
    --orange-50: #1F1206;
    --orange-100: #271504;
    --orange-200: #341C0A;
    --orange-300: #3F220D;
    --orange-400: #4B2910;
    --orange-500: #5D3213;
    --orange-600: #7E4318;
    --orange-700: #C36522;
    --orange-800: #F76808;
    --orange-900: #FF802B;
    --orange-950: #FFA366;
    --orange-1000: #FFE0C2;
    
    /* Gray-a */
    --gray-a-50: #FFFFFF00;
    --gray-a-100: #FFFFFF03;
    --gray-a-200: #FFFFFF12;
    --gray-a-300: #FFFFFF1A;
    --gray-a-400: #FFFFFF21;
    --gray-a-500: #FFFFFF2B;
    --gray-a-600: #FFFFFF38;
    --gray-a-700: #FFFFFF4F;
    --gray-a-800: #FFFFFF5E;
    --gray-a-900: #FFFFFF75;
    --gray-a-950: #FFFFFFA8;
    --gray-a-1000: #FFFFFFED;
    
    /* Mauve-a */
    --mauve-a-50: #E000E003;
    --mauve-a-100: #FF65FF08;
    --mauve-a-200: #F2C4FE17;
    --mauve-a-300: #EECEFE21;
    --mauve-a-400: #F2D8FF29;
    --mauve-a-500: #EFDBFF33;
    --mauve-a-600: #EFDFFF40;
    --mauve-a-700: #EBE2FF59;
    --mauve-a-800: #E9E4FF6B;
    --mauve-a-900: #EDE9FF80;
    --mauve-a-950: #F5F2FFB0;
    --mauve-a-1000: #FDFDFFF0;
    
    /* Slate-a */
    --slate-a-50: #1818F603;
    --slate-a-100: #7979FA08;
    --slate-a-200: #BDC8FF17;
    --slate-a-300: #C7D6FE21;
    --slate-a-400: #D2DFFF29;
    --slate-a-500: #D4E4FE30;
    --slate-a-600: #D5EAFE3D;
    --slate-a-700: #DEF3FF54;
    --slate-a-800: #DDE9FF69;
    --slate-a-900: #E4EEFF7D;
    --slate-a-950: #EFF5FFB0;
    --slate-a-1000: #FCFDFFF0;
    
    /* Sage-a */
    --sage-a-50: #00E01603;
    --sage-a-100: #18F68705;
    --sage-a-200: #C8FEE312;
    --sage-a-300: #D0FDEB1C;
    --sage-a-400: #E1FEF024;
    --sage-a-500: #E1FEF22B;
    --sage-a-600: #E8FEF53B;
    --sage-a-700: #EEFEF852;
    --sage-a-800: #DDFFF261;
    --sage-a-900: #E7FFF675;
    --sage-a-950: #F3FFFAAB;
    --sage-a-1000: #FDFFFEED;
    
    /* Olive-a */
    --olive-a-50: #00E00003;
    --olive-a-100: #50F65005;
    --olive-a-200: #D5FED512;
    --olive-a-300: #D9FDD91C;
    --olive-a-400: #E1FEE124;
    --olive-a-500: #E7FEE72B;
    --olive-a-600: #EDFFED38;
    --olive-a-700: #EEFEEE52;
    --olive-a-800: #E5FFDD61;
    --olive-a-900: #EDFFE775;
    --olive-a-950: #F6FFF3AB;
    --olive-a-1000: #FDFFFDED;
    
    /* Sand-a */
    --sand-a-50: #18180014;
    --sand-a-100: #FFFFB203;
    --sand-a-200: #FDFDE012;
    --sand-a-300: #FFFFEB1A;
    --sand-a-400: #FEF7E124;
    --sand-a-500: #FEF8E72B;
    --sand-a-600: #FEFAE83B;
    --sand-a-700: #FFF8E952;
    --sand-a-800: #FFFAE761;
    --sand-a-900: #FFFAEB75;
    --sand-a-950: #FFFDF3AB;
    --sand-a-1000: #FFFFFDED;
    
    /* Tomato-a */
    --tomato-a-50: #FB000005;
    --tomato-a-100: #FE000012;
    --tomato-a-200: #FE260026;
    --tomato-a-300: #FE320E33;
    --tomato-a-400: #FE371442;
    --tomato-a-500: #FF3B1854;
    --tomato-a-600: #FF3C1A7A;
    --tomato-a-700: #FF3C16C4;
    --tomato-a-800: #FF5331E3;
    --tomato-a-900: #FF7256F2;
    --tomato-a-950: #FF8870;
    --tomato-a-1000: #FFD6CEFA;
    
    /* Red-a */
    --red-a-50: #FA000008;
    --red-a-100: #FE001912;
    --red-a-200: #FE1F3926;
    --red-a-300: #FF213F36;
    --red-a-400: #FE273D45;
    --red-a-500: #FF263C59;
    --red-a-600: #FF223880;
    --red-a-700: #FF1F27CF;
    --red-a-800: #FF4E54E3;
    --red-a-900: #FF6B6DF0;
    --red-a-950: #FF8589;
    --red-a-1000: #FFD1D9;
    
    /* Ruby-a */
    --ruby-a-50: #FA000008;
    --ruby-a-100: #FF002614;
    --ruby-a-200: #FE184626;
    --ruby-a-300: #FE224E33;
    --ruby-a-400: #FE245342;
    --ruby-a-500: #FF275257;
    --ruby-a-600: #FF24507D;
    --ruby-a-700: #FF1C49CC;
    --ruby-a-800: #FF4C6FE3;
    --ruby-a-900: #FF6A85F0;
    --ruby-a-950: #FF859D;
    --ruby-a-1000: #FFD3E1;
    
    /* Crimson-a */
    --crimson-a-50: #FB001905;
    --crimson-a-100: #FE005D12;
    --crimson-a-200: #FF187824;
    --crimson-a-300: #FE227A30;
    --crimson-a-400: #FF287E40;
    --crimson-a-500: #FE2A7F54;
    --crimson-a-600: #FF267D7A;
    --crimson-a-700: #FF1774C9;
    --crimson-a-800: #FF418DE8;
    --crimson-a-900: #FF679CF2;
    --crimson-a-950: #FF85AC;
    --crimson-a-1000: #FFD4EAFC;
    
    /* Pink-a */
    --pink-a-50: #FA007908;
    --pink-a-100: #FE00AE12;
    --pink-a-200: #FE1FBB24;
    --pink-a-300: #FE2FBD2E;
    --pink-a-400: #FF38C038;
    --pink-a-500: #FF39C04D;
    --pink-a-600: #FF3DBE6E;
    --pink-a-700: #FF39B6B5;
    --pink-a-800: #FF49BCD1;
    --pink-a-900: #FF67C2E0;
    --pink-a-950: #FF89CEF7;
    --pink-a-1000: #FFD2ECFC;
    
    /* Plum-a */
    --plum-a-50: #FB00FB05;
    --plum-a-100: #FD00FD0F;
    --plum-a-200: #FE30FE1F;
    --plum-a-300: #F842FE2B;
    --plum-a-400: #F64DFF36;
    --plum-a-500: #F456FF45;
    --plum-a-600: #F25FFF63;
    --plum-a-700: #EA65FFA3;
    --plum-a-800: #E95FFFB2;
    --plum-a-900: #EB7CFFC7;
    --plum-a-950: #EE99FFE8;
    --plum-a-1000: #FFDDFFF2;
    
    /* Purple-a */
    --purple-a-50: #9F00FB05;
    --purple-a-100: #B500FC12;
    --purple-a-200: #C133FE26;
    --purple-a-300: #C240FE33;
    --purple-a-400: #C249FF40;
    --purple-a-500: #BF51FE52;
    --purple-a-600: #BD59FF70;
    --purple-a-700: #B560FFAD;
    --purple-a-800: #B460FFBF;
    --purple-a-900: #BB73FFD1;
    --purple-a-950: #CB97FFF7;
    --purple-a-1000: #F1DDFFFA;
    
    /* Violet-a */
    --violet-a-50: #0000FA08;
    --violet-a-100: #480CFD14;
    --violet-a-200: #7141FF2B;
    --violet-a-300: #7451FE3B;
    --violet-a-400: #7C58FE47;
    --violet-a-500: #815EFF59;
    --violet-a-600: #8165FF7D;
    --violet-a-700: #836AFFBA;
    --violet-a-800: #8566FFC9;
    --violet-a-900: #9578FFD9;
    --violet-a-950: #B299FF;
    --violet-a-1000: #E3DEFF;
}