:root .light{
    --gray-50: #FCFCFC;
    --gray-100: #F9F9F9;
    --gray-200: #F1F1F1;
    --gray-300: #EBEBEB;
    --gray-400: #E4E4E4;
    --gray-500: #DDDDDD;
    --gray-600: #D4D4D4;
    --gray-700: #BBBBBB;
    --gray-800: #8D8D8D;
    --gray-900: #808080;
    --gray-950: #646464;
    --gray-1000: #202020;
  
    --mauve-50: #FDFCFD;
    --mauve-100: #FAF9FB;
    --mauve-200: #F3F1F5;
    --mauve-300: #ECEAEF;
    --mauve-400: #E6E3E9;
    --mauve-500: #DFDCE3;
    --mauve-600: #D5D3DB;
    --mauve-700: #BCBAC7;
    --mauve-800: #8E8C99;
    --mauve-900: #817F8B;
    --mauve-950: #65636D;
    --mauve-1000: #211F26;
  
    --slate-50: #FCFCFD;
    --slate-100: #F9F9FB;
    --slate-200: #F2F2F5;
    --slate-300: #EBEBEF;
    --slate-400: #E4E4E9;
    --slate-500: #DDDDE3;
    --slate-600: #D3D4DB;
    --slate-700: #B9BBC6;
    --slate-800: #8B8D98;
    --slate-900: #7E808A;
    --slate-950: #60646C;
    --slate-1000: #1C2024;
  
    --sage-50: #FBFDFC;
    --sage-100: #F7F9F8;
    --sage-200: #F0F2F1;
    --sage-300: #E9ECEB;
    --sage-400: #E3E6E4;
    --sage-500: #DCDFDD;
    --sage-600: #D2D5D3;
    --sage-700: #B8BCBA;
    --sage-800: #868E8B;
    --sage-900: #7A817F;
    --sage-950: #5F6563;
    --sage-1000: #1A211E;
  
    --olive-50: #FCFDFC;
    --olive-100: #F8FAF8;
    --olive-200: #F1F3F1;
    --olive-300: #EAECEA;
    --olive-400: #E3E5E3;
    --olive-500: #DBDEDB;
    --olive-600: #D2D4D1;
    --olive-700: #B9BCB8;
    --olive-800: #898E87;
    --olive-900: #7C817B;
    --olive-950: #60655F;
    --olive-1000: #1D211C;
  
    --sand-50: #FDFDFC;
    --sand-100: #F9F9F8;
    --sand-200: #F2F2F0;
    --sand-300: #EBEBE9;
    --sand-400: #E4E4E2;
    --sand-500: #DDDDDA;
    --sand-600: #D3D2CE;
    --sand-700: #BCBBB5;
    --sand-800: #8D8D86;
    --sand-900: #80807A;
    --sand-950: #63635E;
    --sand-1000: #21201C;
  
    --tomato-50: #FFFCFC;
    --tomato-100: #FFF8F7;
    --tomato-200: #FFF0EE;
    --tomato-300: #FFE6E2;
    --tomato-400: #FDD8D3;
    --tomato-500: #FAC7BE;
    --tomato-600: #F3B0A2;
    --tomato-700: #EA9280;
    --tomato-800: #E54D2E;
    --tomato-900: #D84224;
    --tomato-950: #C33113;
    --tomato-1000: #5C271F;
  
    --red-50: #FFFCFC;
    --red-100: #FFF7F7;
    --red-200: #FFEFEF;
    --red-300: #FFE5E5;
    --red-400: #FDD8D8;
    --red-500: #F9C6C6;
    --red-600: #F3AEAF;
    --red-700: #EB9091;
    --red-800: #E5484D;
    --red-900: #D93D42;
    --red-950: #C62A2F;
    --red-1000: #641723;
  
    --ruby-50: #FFFCFD;
    --ruby-100: #FFF7F9;
    --ruby-200: #FEEFF3;
    --ruby-300: #FDE5EA;
    --ruby-400: #FAD8E0;
    --ruby-500: #F5C7D1;
    --ruby-600: #EEAFBC;
    --ruby-700: #E592A2;
    --ruby-800: #E54666;
    --ruby-900: #DA3A5C;
    --ruby-950: #CA244D;
    --ruby-1000: #64172B;

    --crimson-50: #FFFCFD;
    --crimson-100: #FFF7FB;
    --crimson-200: #FEEFF6;
    --crimson-300: #FCE5F0;
    --crimson-400: #F9D8E7;
    --crimson-500: #F4C6DB;
    --crimson-600: #EDADC8;
    --crimson-700: #E58FB1;
    --crimson-800: #E93D82;
    --crimson-900: #DC3175;
    --crimson-950: #CB1D63;
    --crimson-1000: #621639;
    
    --pink-50: #FFFCFE;
    --pink-100: #FFF7FC;
    --pink-200: #FEEEF8;
    --pink-300: #FCE5F3;
    --pink-400: #F9D8EC;
    --pink-500: #F3C6E2;
    --pink-600: #ECADD4;
    --pink-700: #E38EC3;
    --pink-800: #D6409F;
    --pink-900: #CD3093;
    --pink-950: #C41C87;
    --pink-1000: #651249;
    
    --plum-50: #FEFCFF;
    --plum-100: #FFF8FF;
    --plum-200: #FCEFFC;
    --plum-300: #F9E5F9;
    --plum-400: #F3D9F4;
    --plum-500: #EBC8ED;
    --plum-600: #DFAFE3;
    --plum-700: #CF91D8;
    --plum-800: #AB4ABA;
    --plum-900: #A43CB4;
    --plum-950: #9C2BAD;
    --plum-1000: #53195D;
    
    --purple-50: #FEFCFE;
    --purple-100: #FDFAFF;
    --purple-200: #F9F1FE;
    --purple-300: #F3E7FC;
    --purple-400: #EDDBF9;
    --purple-500: #E3CCF4;
    --purple-600: #D3B4ED;
    --purple-700: #BE93E4;
    --purple-800: #8E4EC6;
    --purple-900: #8445BC;
    --purple-950: #793AAF;
    --purple-1000: #402060;
    
    --violet-50: #FDFCFE;
    --violet-100: #FBFAFF;
    --violet-200: #F5F2FF;
    --violet-300: #EDE9FE;
    --violet-400: #E4DEFC;
    --violet-500: #D7CFF9;
    --violet-600: #C4B8F3;
    --violet-700: #AA99EC;
    --violet-800: #6E56CF;
    --violet-900: #644FC1;
    --violet-950: #5746AF;
    --violet-1000: #2F265F;
    
    --iris-50: #FDFDFF;
    --iris-100: #FAFAFF;
    --iris-200: #F3F3FF;
    --iris-300: #EBEBFE;
    --iris-400: #E0E0FD;
    --iris-500: #D0D0FA;
    --iris-600: #BABBF5;
    --iris-700: #9B9EF0;
    --iris-800: #5B5BD6;
    --iris-900: #5353CE;
    --iris-950: #4747C2;
    --iris-1000: #272962;
    
    --indigo-50: #FDFDFE;
    --indigo-100: #F8FAFF;
    --indigo-200: #F0F4FF;
    --indigo-300: #E6EDFE;
    --indigo-400: #D9E2FC;
    --indigo-500: #C6D4F9;
    --indigo-600: #AEC0F5;
    --indigo-700: #8DA4EF;
    --indigo-800: #3E63DD;
    --indigo-900: #3A5CCC;
    --indigo-950: #3451B2;
    --indigo-1000: #1F2D5C;
    
    --blue-50: #FBFDFF;
    --blue-100: #F5FAFF;
    --blue-200: #EDF6FF;
    --blue-300: #E1F0FF;
    --blue-400: #CEE7FE;
    --blue-500: #B7D9F8;
    --blue-600: #96C7F2;
    --blue-700: #5EB0EF;
    --blue-800: #0090FF;
    --blue-900: #0880EA;
    --blue-950: #0B68CB;
    --blue-1000: #113264;
    
    --cyan-50: #FAFDFE;
    --cyan-100: #F2FCFD;
    --cyan-200: #E7F9FB;
    --cyan-300: #D8F3F6;
    --cyan-400: #C4EAEF;
    --cyan-500: #AADEE6;
    --cyan-600: #84CDDA;
    --cyan-700: #3DB9CF;
    --cyan-800: #05A2C2;
    --cyan-900: #0894B3;
    --cyan-950: #0C7792;
    --cyan-1000: #0D3C48;
    
    --teal-50: #FAFEFD;
    --teal-100: #F1FCFA;
    --teal-200: #E7F9F5;
    --teal-300: #D9F3EE;
    --teal-400: #C7EBE5;
    --teal-500: #AFDFD7;
    --teal-600: #8DCEC3;
    --teal-700: #53B9AB;
    --teal-800: #12A594;
    --teal-900: #0E9888;
    --teal-950: #067A6F;
    --teal-1000: #0D3D38;
    
    --jade-50: #FBFEFD;
    --jade-100: #EFFDF6;
    --jade-200: #E4FAEF;
    --jade-300: #D7F4E6;
    --jade-400: #C6ECDB;
    --jade-500: #B0E0CC;
    --jade-600: #8FCFB9;
    --jade-700: #56BA9F;
    --jade-800: #29A383;
    --jade-900: #259678;
    --jade-950: #1A7A5E;
    --jade-1000: #1D3B31;
    
    --green-50: #FBFEFC;
    --green-100: #F2FCF5;
    --green-200: #E9F9EE;
    --green-300: #DDF3E4;
    --green-400: #CCEBD7;
    --green-500: #B4DFC4;
    --green-600: #92CEAC;
    --green-700: #5BB98C;
    --green-800: #30A46C;
    --green-900: #299764;
    --green-950: #18794E;
    --green-1000: #193B2D;
    
    --grass-50: #FBFEFB;
    --grass-100: #F3FCF3;
    --grass-200: #EBF9EB;
    --grass-300: #DFF3DF;
    --grass-400: #CEEBCF;
    --grass-500: #B7DFBA;
    --grass-600: #97CF9C;
    --grass-700: #65BA75;
    --grass-800: #46A758;
    --grass-900: #3D9A50;
    --grass-950: #297C3B;
    --grass-1000: #203C25;
    
    --brown-50: #FEFDFC;
    --brown-100: #FCF9F6;
    --brown-200: #F8F1EA;
    --brown-300: #F4E9DD;
    --brown-400: #EFDDCC;
    --brown-500: #E8CDB5;
    --brown-600: #DDB896;
    --brown-700: #D09E72;
    --brown-800: #AD7F58;
    --brown-900: #9E7352;
    --brown-950: #815E46;
    --brown-1000: #3E332E;
    
    --bronze-50: #FDFCFC;
    --bronze-100: #FDF8F6;
    --bronze-200: #F8F1EE;
    --bronze-300: #F2E8E4;
    --bronze-400: #EADDD7;
    --bronze-500: #E0CEC7;
    --bronze-600: #D1B9B0;
    --bronze-700: #BFA094;
    --bronze-800: #A18072;
    --bronze-900: #947467;
    --bronze-950: #7D5E54;
    --bronze-1000: #43302B;
    
    --gold-50: #FDFDFC;
    --gold-100: #FBF9F2;
    --gold-200: #F5F2E9;
    --gold-300: #EEEADD;
    --gold-400: #E5DFD0;
    --gold-500: #DAD1BD;
    --gold-600: #CBBDA4;
    --gold-700: #B8A383;
    --gold-800: #978365;
    --gold-900: #89775C;
    --gold-950: #71624B;
    --gold-1000: #3B352B;

    --sky-50: #F9FEFF;
    --sky-100: #F1FCFF;
    --sky-200: #E2F9FF;
    --sky-300: #D2F4FD;
    --sky-400: #BFEBF8;
    --sky-500: #A5DCED;
    --sky-600: #82CAE0;
    --sky-700: #46B8D8;
    --sky-800: #7CE2FE;
    --sky-900: #72DBF8;
    --sky-950: #256E93;
    --sky-1000: #1A404D;

    --mint-50: #F9FEFD;
    --mint-100: #EFFEFA;
    --mint-200: #DDFBF3;
    --mint-300: #CCF7EC;
    --mint-400: #BBEEE2;
    --mint-500: #A6E1D3;
    --mint-600: #87D0BF;
    --mint-700: #51BDA7;
    --mint-800: #86EAD4;
    --mint-900: #7FE1CC;
    --mint-950: #27756A;
    --mint-1000: #16433C;

    --lime-50: #FCFDFA;
    --lime-100: #F7FCF0;
    --lime-200: #EDFADA;
    --lime-300: #E2F5C4;
    --lime-400: #D5EDAF;
    --lime-500: #C6DE99;
    --lime-600: #B2CA7F;
    --lime-700: #9AB654;
    --lime-800: #BDEE63;
    --lime-900: #B0E54D;
    --lime-950: #59682C;
    --lime-1000: #37401C;

    --yellow-50: #FDFDF9;
    --yellow-100: #FFFBE0;
    --yellow-200: #FFF8C6;
    --yellow-300: #FCF3AF;
    --yellow-400: #F7EA9B;
    --yellow-500: #ECDD85;
    --yellow-600: #DAC56E;
    --yellow-700: #C9AA45;
    --yellow-800: #FBE32D;
    --yellow-900: #F9DA10;
    --yellow-950: #775F28;
    --yellow-1000: #473B1F;

    --amber-50: #FEFDFB;
    --amber-100: #FFF9ED;
    --amber-200: #FFF3D0;
    --amber-300: #FFECB7;
    --amber-400: #FFE0A1;
    --amber-500: #F5D08C;
    --amber-600: #E4BB78;
    --amber-700: #D6A35C;
    --amber-800: #FFC53D;
    --amber-900: #FFBA1A;
    --amber-950: #915930;
    --amber-1000: #4F3422;

    --orange-50: #FEFCFB;
    --orange-100: #FFF8F4;
    --orange-200: #FFEDD5;
    --orange-300: #FFE0BB;
    --orange-400: #FFD3A4;
    --orange-500: #FFC291;
    --orange-600: #FFAA7D;
    --orange-700: #ED8A5C;
    --orange-800: #F76808;
    --orange-900: #ED5F00;
    --orange-950: #99543A;
    --orange-1000: #582D1D;

    --gray-a-50: #00000003;
    --gray-a-100: #00000005;
    --gray-a-200: #0000000F;
    --gray-a-300: #00000014;
    --gray-a-400: #0000001C;
    --gray-a-500: #00000021;
    --gray-a-600: #0000002B;
    --gray-a-700: #00000045;
    --gray-a-800: #00000073;
    --gray-a-900: #00000080;
    --gray-a-950: #0000009C;
    --gray-a-1000: #000000E0;

    --mauve-a-50: #58055803;
    --mauve-a-100: #2F055805;
    --mauve-a-200: #2500490F;
    --mauve-a-300: #1A023E14;
    --mauve-a-400: #1C00371C;
    --mauve-a-500: #17013424;
    --mauve-a-600: #0C012F2B;
    --mauve-a-700: #08003145;
    --mauve-a-800: #04001D73;
    --mauve-a-900: #04001880;
    --mauve-a-950: #0300109C;
    --mauve-a-1000: #020008E0;

    --slate-a-50: #05055803;
    --slate-a-100: #05055805;
    --slate-a-200: #00003B0D;
    --slate-a-300: #02023414;
    --slate-a-400: #0000301C;
    --slate-a-500: #01012E21;
    --slate-a-600: #01062F2B;
    --slate-a-700: #00082F47;
    --slate-a-800: #00041D75;
    --slate-a-900: #00041882;
    --slate-a-950: #0007139E;
    --slate-a-1000: #000509E3;

    --sage-a-50: #05824405;
    --sage-a-100: #05432408;
    --sage-a-200: #0122120F;
    --sage-a-300: #02251917;
    --sage-a-400: #001C091C;
    --sage-a-500: #01170924;
    --sage-a-600: #0112062E;
    --sage-a-700: #010F0847;
    --sage-a-800: #00110B78;
    --sage-a-900: #000E0A85;
    --sage-a-950: #000A07A1;
    --sage-a-1000: #000805E5;

    --olive-a-50: #05580503;
    --olive-a-100: #054D0508;
    --olive-a-200: #0025000F;
    --olive-a-300: #021A0214;
    --olive-a-400: #0012001C;
    --olive-a-500: #01160124;
    --olive-a-600: #0611012E;
    --olive-a-700: #040F0147;
    --olive-a-800: #040F0078;
    --olive-a-900: #020C0085;
    --olive-a-950: #020A00A1;
    --olive-a-1000: #010600E3;

    --sand-a-50: #58580503;
    --sand-a-100: #29290508;
    --sand-a-200: #2222010F;
    --sand-a-300: #19190217;
    --sand-a-400: #1212011C;
    --sand-a-500: #16160226;
    --sand-a-600: #1B160130;
    --sand-a-700: #1915014A;
    --sand-a-800: #0F0F0078;
    --sand-a-900: #0B0B0085;
    --sand-a-950: #080800A1;
    --sand-a-1000: #060500E3;

    --tomato-a-50: #FF050503;
    --tomato-a-100: #FF260508;
    --tomato-a-200: #FF1F0112;
    --tomato-a-300: #FF22011C;
    --tomato-a-400: #F41D012B;
    --tomato-a-500: #EC230042;
    --tomato-a-600: #DE25005C;
    --tomato-a-700: #D5240180;
    --tomato-a-800: #DF2500D1;
    --tomato-a-900: #D22300DB;
    --tomato-a-950: #BE2000ED;
    --tomato-a-1000: #460900E0;

    --red-a-50: #FF050503;
    --red-a-100: #FF050508;
    --red-a-200: #FF01010F;
    --red-a-300: #FF00001A;
    --red-a-400: #F2000026;
    --red-a-500: #E4010138;
    --red-a-600: #D9000452;
    --red-a-700: #D950470;
    --red-a-800: #DB0007B8;
    --red-a-900: #CD0007C2;
    --red-a-950: #BB0006D6;
    --red-a-1000: #55000DE8;

    --ruby-a-50: #FF055803;
    --ruby-a-100: #FF054408;
    --ruby-a-200: #EF01410F;
    --ruby-a-300: #EC002F1A;
    --ruby-a-400: #DE003426;
    --ruby-a-500: #D2002E38;
    --ruby-a-600: #C900284F;
    --ruby-a-700: #C300276E;
    --ruby-a-800: #DB002CBA;
    --ruby-a-900: #CF002DC4;
    --ruby-a-950: #C10030DB;
    --ruby-a-1000: #550017E8;

    --crimson-a-50: #FF055803;
    --crimson-a-100: #FF058208;
    --crimson-a-200: #EF01700F;
    --crimson-a-300: #E2006D1A;
    --crimson-a-400: #D8006126;
    --crimson-a-500: #CE015D38;
    --crimson-a-600: #C7005352;
    --crimson-a-700: #C4004F70;
    --crimson-a-800: #E2005AC2;
    --crimson-a-900: #D40055CF;
    --crimson-a-950: #C4004FE3;
    --crimson-a-1000: #530027E8;

    --pink-a-50: #FF05AC03;
    --pink-a-100: #FF059F08;
    --pink-a-200: #F0019412;
    --pink-a-300: #E2008B1A;
    --pink-a-400: #D8008126;
    --pink-a-500: #C9017C38;
    --pink-a-600: #C4007952;
    --pink-a-700: #C0007670;
    --pink-a-800: #C8007FBF;
    --pink-a-900: #C1007ACF;
    --pink-a-950: #BD0078E3;
    --pink-a-1000: #5A003CED;

    --plum-a-50: #AC05FF03;
    --plum-a-100: #FF05FF08;
    --plum-a-200: #D001D00F;
    --plum-a-300: #C400C41A;
    --plum-a-400: #AF02B526;
    --plum-a-500: #A300AC38;
    --plum-a-600: #9800A64F;
    --plum-a-700: #8F00A56E;
    --plum-a-800: #89009EB5;
    --plum-a-900: #88009DC4;
    --plum-a-950: #88009CD4;
    --plum-a-1000: #40004BE5;

    --purple-a-50: #AB05AB03;
    --purple-a-100: #9B05FF05;
    --purple-a-200: #9200ED0F;
    --purple-a-300: #8002E01A;
    --purple-a-400: #8001D524;
    --purple-a-500: #7500C833;
    --purple-a-600: #6B01C24A;
    --purple-a-700: #6600BF6B;
    --purple-a-800: #5C00ADB0;
    --purple-a-900: #5700A3BA;
    --purple-a-950: #510097C4;
    --purple-a-1000: #250049E0;

    --violet-a-50: #5805AB03;
    --violet-a-100: #3705FF05;
    --violet-a-200: #3C00FF0D;
    --violet-a-300: #2E02F417;
    --violet-a-400: #2F01E821;
    --violet-a-500: #2A01DF30;
    --violet-a-600: #2B01D447;
    --violet-a-700: #2A00D066;
    --violet-a-800: #2500B6A8;
    --violet-a-900: #1F00A5B0;
    --violet-a-950: #180091BA;
    --violet-a-1000: #0A0043D9;

    --iris-a-50: #0505FF03;
    --iris-a-100: #0505FF05;
    --iris-a-200: #0505FF0D;
    --iris-a-300: #0202F214;
    --iris-a-400: #0101EF1F;
    --iris-a-500: #0101E42E;
    --iris-a-600: #0004DA45;
    --iris-a-700: #0108D963;
    --iris-a-800: #0000BFA3;
    --iris-a-900: #0000B6AD;
    --iris-a-950: #0000ABB8;
    --iris-a-1000: #000346D9;

    --indigo-a-50: #05058203;
    --indigo-a-100: #054CFF08;
    --indigo-a-200: #0144FF0F;
    --indigo-a-300: #0247F51A;
    --indigo-a-400: #023CEB26;
    --indigo-a-500: #013DE438;
    --indigo-a-600: #0038E052;
    --indigo-a-700: #0134DB73;
    --indigo-a-800: #0031D2C2;
    --indigo-a-900: #002CBDC4;
    --indigo-a-950: #00259ECC;
    --indigo-a-1000: #001046E0;

    --blue-a-50: #0582FF05;
    --blue-a-100: #0582FF0A;
    --blue-a-200: #0280FF12;
    --blue-a-300: #0180FF1F;
    --blue-a-400: #0182FA30;
    --blue-a-500: #0177E647;
    --blue-a-600: #0077DF69;
    --blue-a-700: #0082E6A1;
    --blue-a-800: #0090FF;
    --blue-a-900: #007DE9F7;
    --blue-a-950: #0061C9F5;
    --blue-a-1000: #002459ED;

    --cyan-a-50: #059BCD05;
    --cyan-a-100: #00C6D80D;
    --cyan-a-200: #02C0D51A;
    --cyan-a-300: #00B1C426;
    --cyan-a-400: #01A4BA3B;
    --cyan-a-500: #019CB454;
    --cyan-a-600: #0097B27A;
    --cyan-a-700: #00A3C0C2;
    --cyan-a-800: #00A0C1FA;
    --cyan-a-900: #0090B0F7;
    --cyan-a-950: #00718DF2;
    --cyan-a-1000: #00323EF2;

    --teal-a-50: #05CD9B05;
    --teal-a-100: #01C8A40F;
    --teal-a-200: #02C0971A;
    --teal-a-300: #02AF8C26;
    --teal-a-400: #00A48938;
    --teal-a-500: #0099804F;
    --teal-a-600: #01927A73;
    --teal-a-700: #009783AD;
    --teal-a-800: #009E8CED;
    --teal-a-900: #009281F2;
    --teal-a-950: #00776BFA;
    --teal-a-1000: #00332EF2;

    --jade-a-50: #05C08205;
    --jade-a-100: #01DF700F;
    --jade-a-200: #00D0681C;
    --jade-a-300: #00B96029;
    --jade-a-400: #01AA5E38;
    --jade-a-500: #009B5A4F;
    --jade-a-600: #00925F70;
    --jade-a-700: #00976FA8;
    --jade-a-800: #00926BD6;
    --jade-a-900: #008461D9;
    --jade-a-950: #006B4DE5;
    --jade-a-1000: #002217E3;

    --green-a-50: #05C04305;
    --green-a-100: #00C43B0D;
    --green-a-200: #02BA3C17;
    --green-a-300: #01A63521;
    --green-a-400: #009B3633;
    --green-a-500: #0193364A;
    --green-a-600: #008C3D6E;
    --green-a-700: #00934CA3;
    --green-a-800: #008F4ACF;
    --green-a-900: #008346D6;
    --green-a-950: #006B3BE8;
    --green-a-1000: #002616E5;

    --grass-a-50: #05C00505;
    --grass-a-100: #05C0050D;
    --grass-a-200: #02B30214;
    --grass-a-300: #01A00121;
    --grass-a-400: #01970630;
    --grass-a-500: #018E0C47;
    --grass-a-600: #008A0C69;
    --grass-a-700: #008D1A99;
    --grass-a-800: #008619BA;
    --grass-a-900: #007A19C2;
    --grass-a-950: #006316D6;
    --grass-a-1000: #002006E0;

    --brown-a-50: #AB580503;
    --brown-a-100: #AB58050A;
    --brown-a-200: #AB560214;
    --brown-a-300: #AD5A0121;
    --brown-a-400: #AF550033;
    --brown-a-500: #B052014A;
    --brown-a-600: #AC530069;
    --brown-a-700: #AA4F008C;
    --brown-a-800: #823D00A8;
    --brown-a-900: #703100AD;
    --brown-a-950: #512100BA;
    --brown-a-1000: #140600D1;

    --bronze-a-50: #58050503;
    --bronze-a-100: #C73C050A;
    --bronze-a-200: #972E0112;
    --bronze-a-300: #8426001C;
    --bronze-a-400: #79270029;
    --bronze-a-500: #72210038;
    --bronze-a-600: #6E21004F;
    --bronze-a-700: #671D006B;
    --bronze-a-800: #551A008C;
    --bronze-a-900: #4C160099;
    --bronze-a-950: #3D0F00AB;
    --bronze-a-1000: #1D0600D4;

    --gold-a-50: #58580503;
    --gold-a-100: #B08A000D;
    --gold-a-200: #8C6A0217;
    --gold-a-300: #80630121;
    --gold-a-400: #7252012E;
    --gold-a-500: #704D0042;
    --gold-a-600: #6E45005C;
    --gold-a-700: #6D42007D;
    --gold-a-800: #53320099;
    --gold-a-900: #472A00A3;
    --gold-a-950: #362000B5;
    --gold-a-1000: #130C00D4;

    --sky-a-50: #05D5FF05;
    --sky-a-100: #01C8FF0F;
    --sky-a-200: #01CCFF1C;
    --sky-a-300: #01BFF42E;
    --sky-a-400: #00AEE340;
    --sky-a-500: #009CCC59;
    --sky-a-600: #0093C07D;
    --sky-a-700: #009EC9BA;
    --sky-a-800: #00C6FD82;
    --sky-a-900: #00BEF28C;
    --sky-a-950: #005681D9;
    --sky-a-1000: #002B3AE5;

    --mint-a-50: #05D5AC05;
    --mint-a-100: #01EFB00F;
    --mint-a-200: #01E1A521;
    --mint-a-300: #00D7A133;
    --mint-a-400: #00BF9345;
    --mint-a-500: #01A98259;
    --mint-a-600: #009B7778;
    --mint-a-700: #009E7FAD;
    --mint-a-800: #00D3A578;
    --mint-a-900: #00C39980;
    --mint-a-950: #005C50D9;
    --mint-a-1000: #00312AE8;

    --lime-a-50: #699B0505;
    --lime-a-100: #77CC010F;
    --lime-a-200: #85DD0226;
    --lime-a-300: #83D4013B;
    --lime-a-400: #7AC6004F;
    --lime-a-500: #70AC0066;
    --lime-a-600: #66950080;
    --lime-a-700: #699200AB;
    --lime-a-800: #94E3009C;
    --lime-a-900: #8FDB00B2;
    --lime-a-950: #374900D4;
    --lime-a-1000: #1E2900E3;

    --yellow-a-50: #ABAB0505;
    --yellow-a-100: #FFDD011F;
    --yellow-a-200: #FFE10138;
    --yellow-a-300: #F6D9004F;
    --yellow-a-400: #EBCB0163;
    --yellow-a-500: #D7B7007A;
    --yellow-a-600: #BE980091;
    --yellow-a-700: #B58B00BA;
    --yellow-a-800: #FADD00D1;
    --yellow-a-900: #F9D800F0;
    --yellow-a-950: #5E4200D6;
    --yellow-a-1000: #2E2000E0;

    --amber-a-50: #C0820505;
    --amber-a-100: #FFAB0212;
    --amber-a-200: #FFC0012E;
    --amber-a-300: #FFBB0147;
    --amber-a-400: #FFAA015E;
    --amber-a-500: #E9970073;
    --amber-a-600: #CC7E0087;
    --amber-a-700: #BF7000A3;
    --amber-a-800: #FFB200C2;
    --amber-a-900: #FFB301E5;
    --amber-a-950: #783200CF;
    --amber-a-1000: #341500DE;

    --orange-a-50: #C0430505;
    --orange-a-100: #FF61050A;
    --orange-a-200: #FF91012B;
    --orange-a-300: #FF8C0145;
    --orange-a-400: #FF84005C;
    --orange-a-500: #FF73016E;
    --orange-a-600: #FF590082;
    --orange-a-700: #E34800A3;
    --orange-a-800: #F76300F7;
    --orange-a-900: #ED5F00;
    --orange-a-950: #7B2100C4;
    --orange-a-1000: #431200E3;

    --white-a-50: #00000000;
    --white-a-100: #FFFFFF03;
    --white-a-200: #FFFFFF12;
    --white-a-300: #FFFFFF1A;
    --white-a-400: #FFFFFF21;
    --white-a-500: #FFFFFF2B;
    --white-a-600: #FFFFFF38;
    --white-a-700: #FFFFFF4F;
    --white-a-800: #FFFFFF5E;
    --white-a-900: #FFFFFF75;
    --white-a-950: #FFFFFFA8;
    --white-a-1000: #FFFFFFED;

    /* Black-a */
    --black-a-50: #00000003;
    --black-a-100: #00000005;
    --black-a-200: #0000000F;
    --black-a-300: #00000014;
    --black-a-400: #0000001C;
    --black-a-500: #00000021;
    --black-a-600: #0000002B;
    --black-a-700: #00000045;
    --black-a-800: #00000073;
    --black-a-900: #00000080;
    --black-a-950: #0000009C;
    --black-a-1000: #000000E0;
  
   
  
}
      
  