/** Tomato */
$tomato-50: #FFFCFC;
$tomato-100: #FFF8F7;
$tomato-200: #FFDCD3;
$tomato-300: #FFCDC2;
$tomato-400: #FDBDAF;
$tomato-500: #F5A898;
$tomato-600: #EC8E7B;
$tomato-700: #E54D2E;
$tomato-800: #DD4425;
$tomato-900: #D13415;
$tomato-1000: #5C271F;

/** Red */
$red-50: #FFFCFC;
$red-100: #FFF7F7;
$red-200: #FFDBDC;
$red-300: #FFCDCE;
$red-400: #FDBDBE;
$red-500: #F4A9AA;
$red-600: #EB8E90;
$red-700: #E5484D;
$red-800: #DC3E42;
$red-900: #CE2C31;
$red-1000: #641723;

/** Crimson */
$crimson-50: #FFFCFD;
$crimson-100: #FEF7F9;
$crimson-200: #FFE9F0;
$crimson-300: #FEDCE7;
$crimson-400: #FACEDD;
$crimson-500: #F3BED1;
$crimson-600: #EAACC3;
$crimson-700: #E093B2;
$crimson-800: #E93D82;
$crimson-900: #DF3478;
$crimson-950: #CB1D63;
$crimson-1000: #621639;

/** Pink */
$pink-50: #FFFCFE;
$pink-100: #FEF7F9;
$pink-200: #FEE9F5;
$pink-300: #FBDCEF;
$pink-400: #F6CEE7;
$pink-500: #EFBFDD;
$pink-600: #E7ACD0;
$pink-700: #DD93C2;
$pink-800: #D6409F;
$pink-900: #CF3897;
$pink-950: #C2298A;
$pink-1000: #651249;

/** Plum */
$plum-50: #FEFCFF;
$plum-100: #FDF7FD;
$plum-200: #FBEBFB;
$plum-300: #F7DEF8;
$plum-400: #F2D1F3;
$plum-500: #E9C2EC;
$plum-600: #DEADE3;
$plum-700: #CF91D8;
$plum-800: #AB4ABA;
$plum-900: #A144AF;
$plum-950: #953EA3;
$plum-1000: #53195D;

/** Purple */
$purple-50: #FEFCFE;
$purple-100: #FBF7FE;
$purple-200: #F7EDFE;
$purple-300: #F2E2FC;
$purple-400: #EAD5F9;
$purple-500: #E0C4F4;
$purple-600: #D1AFEC;
$purple-700: #BE93E4;
$purple-800: #8E4EC6;
$purple-900: #8347B9;
$purple-950: #8145B5;
$purple-1000: #402060;

/** Violet */
$violet-50: #FDFCFE;
$violet-100: #FAF8FF;
$violet-200: #F4F0FE;
$violet-300: #EBE4FF;
$violet-400: #E1D9FF;
$violet-500: #D4CAFE;
$violet-600: #C2B5F5;
$violet-700: #AA99EC;
$violet-800: #6E56CF;
$violet-900: #654DC4;
$violet-950: #6550B9;
$violet-1000: #2F265F;

/** Indigo */
$indigo-50: #FDFDFE;
$indigo-100: #F7F9FF;
$indigo-200: #EDF2FE;
$indigo-300: #E1E9FF;
$indigo-400: #D2DEFF;
$indigo-500: #C1D0FF;
$indigo-600: #ABBDF9;
$indigo-700: #8DA4EF;
$indigo-800: #3E63DD;
$indigo-900: #3358D4;
$indigo-950: #3A5BC7;
$indigo-1000: #1F2D5C;

/** Blue */
$blue-50: #FBFDFF;
$blue-100: #F4FAFF;
$blue-200: #D5EFFF;
$blue-300: #C2E5FF;
$blue-400: #ACD8FC;
$blue-500: #8EC8F6;
$blue-600: #5EB1EF;
$blue-700: #0090FF;
$blue-800: #0588F0;
$blue-900: #0D74CE;
$blue-950: #F4FAFF;
$blue-1000: #113264;

/** Cyan */
$cyan-50: #FAFDFE;
$cyan-100: #F2FAFB;
$cyan-200: #DEF7F9;
$cyan-300: #CAF1F6;
$cyan-400: #B5E9F0;
$cyan-500: #9DDDE7;
$cyan-600: #7DCEDC;
$cyan-700: #3DB9CF;
$cyan-800: #00A2C7;
$cyan-900: #0797B9;
$cyan-950: #107D98;
$cyan-1000: #0D3C48;

/** Teal */
$teal-50: #FAFEFD;
$teal-100: #F3FBF9;
$teal-200: #E0F8F3;
$teal-300: #CCF3EA;
$teal-400: #B8EAE0;
$teal-500: #A1DED2;
$teal-600: #83CDC1;
$teal-700: #53B9AB;
$teal-800: #12A594;
$teal-900: #0D9B8A;
$teal-950: #008573;
$teal-1000: #0D3D38;

/** Green */
$green-50: #FBFEFC;
$green-100: #F4FBF6;
$green-200: #E6F6EB;
$green-300: #D6F1DF;
$green-400: #C4E8D1;
$green-500: #ADDDC0;
$green-600: #8ECEAA;
$green-700: #5BB98B;
$green-800: #30A46C;
$green-900: #2B9A66;
$green-950: #218358;
$green-1000: #193B2D;

/** Grass */
$grass-50: #FBFEFB;
$grass-100: #F5FBF5;
$grass-200: #E9F6E9;
$grass-300: #DAF1DB;
$grass-400: #C9E8CA;
$grass-500: #B2DDB5;
$grass-600: #94CE9A;
$grass-700: #65BA74;
$grass-800: #46A758;
$grass-900: #3E9B4F;
$grass-950: #2A7E3B;
$grass-1000: #203C25;

/** Orange */
$orange-50: #FEFCFB;
$orange-100: #FFF7ED;
$orange-200: #FFEFD6;
$orange-300: #FFDFB5;
$orange-400: #FFD19A;
$orange-500: #FFC182;
$orange-600: #F5AE73;
$orange-700: #EC9455;
$orange-800: #F76B15;
$orange-900: #EF5F00;
$orange-950: #CC4E00;
$orange-1000: #582D1D;

/** Brown */
$brown-50: #FEFDFC;
$brown-100: #FCF9F6;
$brown-200: #F6EEE7;
$brown-300: #F0E4D9;
$brown-400: #EBDACA;
$brown-500: #E4CDB7;
$brown-600: #DCBC9F;
$brown-700: #CEA37E;
$brown-800: #AD7F58;
$brown-900: #A07553;
$brown-950: #815E46;
$brown-1000: #3E332E;

/** Sky */
$sky-50: #F9FEFF;
$sky-100: #F1FAFD;
$sky-200: #E1F6FD;
$sky-300: #D1F0FA;
$sky-400: #BEE7F5;
$sky-500: #A9DAED;
$sky-600: #8DCAE3;
$sky-700: #60B3D7;
$sky-800: #7CE2FE;
$sky-900: #74DAF8;
$sky-950: #00749E;
$sky-1000: #1D3E56;

/** Mint */
$mint-50: #F9FEFD;
$mint-100: #F2FBF9;
$mint-200: #DDF9F2;
$mint-300: #C8F4E9;
$mint-400: #B3ECDE;
$mint-500: #9CE0D0;
$mint-600: #7ECFBD;
$mint-700: #4CBBA5;
$mint-800: #86EAD4;
$mint-900: #7DE0CB;
$mint-950: #027864;
$mint-1000: #16433C;

/** Lime */
$lime-50: #FCFDFA;
$lime-100: #F8FAF3;
$lime-200: #EEF6D6;
$lime-300: #E2F0BD;
$lime-400: #D3E7A6;
$lime-500: #C2DA91;
$lime-600: #ABC978;
$lime-700: #8DB654;
$lime-800: #BDEE63;
$lime-900: #B0E64C;
$lime-950: #5C7C2F;
$lime-1000: #37401C;

/** Yellow */
$yellow-50: #FDFDF9;
$yellow-100: #FEFCE9;
$yellow-200: #FFFAB8;
$yellow-300: #FFF394;
$yellow-400: #FFE770;
$yellow-500: #F3D768;
$yellow-600: #E4C767;
$yellow-700: #D5AE39;
$yellow-800: #FFE629;
$yellow-900: #FFDC00;
$yellow-950: #9E6C00;
$yellow-1000: #473B1F;

/** Amber */
$amber-50: #FEFDFB;
$amber-100: #FEFBE9;
$amber-200: #FFF7C2;
$amber-300: #FFEE9C;
$amber-400: #FBE577;
$amber-500: #F3D673;
$amber-600: #E9C162;
$amber-700: #E2A336;
$amber-800: #FFC53D;
$amber-900: #FFBA18;
$amber-950: #AB6400;
$amber-1000: #4F3422;

/** Gray */
$gray-50: #FCFCFC;
$gray-100: #F9F9F9;
$gray-200: #F0F0F0;
$gray-300: #E8E8E8;
$gray-400: #E0E0E0;
$gray-500: #D9D9D9;
$gray-600: #CECECE;
$gray-700: #BBBBBB;
$gray-800: #8D8D8D;
$gray-900: #838383;
$gray-950: #646464;
$gray-1000: #202020;

/** Mauve */
$mauve-50: #FDFCFD;
$mauve-100: #FAF9FB;
$mauve-200: #F2EFF3;
$mauve-300: #EAE7EC;
$mauve-400: #E3DFE6;
$mauve-500: #DBD8E0;
$mauve-600: #D0CDD7;
$mauve-700: #BCBAC7;
$mauve-800: #8E8C99;
$mauve-900: #84828E;
$mauve-950: #65636D;
$mauve-1000: #211F26;

/** Slate */
$slate-50: #FCFCFD;
$slate-100: #F9F9FB;
$slate-200: #F0F0F3;
$slate-300: #E8E8EC;
$slate-400: #E0E1E6;
$slate-500: #D9D9E0;
$slate-600: #CDCED6;
$slate-700: #B9BBC6;
$slate-800: #8B8D98;
$slate-900: #80838D;
$slate-950: #60646C;
$slate-1000: #1C2024;

/** Sage */
$sage-50: #FBFDFC;
$sage-100: #F7F9F8;
$sage-200: #EEF1F0;
$sage-300: #E6E9E8;
$sage-400: #DFE2E0;
$sage-500: #D7DAD9;
$sage-600: #CBCFCD;
$sage-700: #B8BCBA;
$sage-800: #868E8B;
$sage-900: #7C8481;
$sage-950: #5F6563;
$sage-1000: #1A211E;

/** Olive */
$olive-50: #FCFDFC;
$olive-100: #F8FAF8;
$olive-200: #EFF1EF;
$olive-300: #E7E9E7;
$olive-400: #DFE2DF;
$olive-500: #D7DAD7;
$olive-600: #CCCFCC;
$olive-700: #B9BCB8;
$olive-800: #898E87;
$olive-900: #7F847D;
$olive-950: #60655F;
$olive-1000: #1D211C;

/** Sand */
$sand-50: #FDFDFC;
$sand-100: #F9F9F8;
$sand-200: #F1F0EF;
$sand-300: #E9E8E6;
$sand-400: #E2E1DE;
$sand-500: #DAD9D6;
$sand-600: #CFCECA;
$sand-700: #BCBBB5;
$sand-800: #8D8D86;
$sand-900: #82827C;
$sand-950: #63635E;
$sand-1000: #21201C;

/** Bronze */
$bronze-50: #FDFCFC;
$bronze-100: #FDF7F5;
$bronze-200: #F6EDEA;
$bronze-300: #EFE4DF;
$bronze-400: #E7D9D3;
$bronze-500: #DFCDC5;
$bronze-600: #D3BCB3;
$bronze-700: #C2A499;
$bronze-800: #A18072;
$bronze-900: #957468;
$bronze-950: #7D5E54;
$bronze-1000: #43302B;

/** Gold */
$gold-50: #FDFDFC;
$gold-100: #FAF9F2;
$gold-200: #F2F0E7;
$gold-300: #EAE6DB;
$gold-400: #E1DCCF;
$gold-500: #D8D0BF;
$gold-600: #CBC0AA;
$gold-700: #B9A88D;
$gold-800: #978365;
$gold-900: #8C7A5E;
$gold-950: #71624B;
$gold-1000: #3B352B;

/** Tomato Alpha */
$tomato-a-50: #FF000003;
$tomato-a-100: #FF200008;
$tomato-a-200: #F52B0018;
$tomato-a-300: #FF35002C;
$tomato-a-400: #FF2E003D;
$tomato-a-500: #F92D0050;
$tomato-a-600: #E7280067;
$tomato-a-700: #DB250084;
$tomato-a-800: #DF2600D1;
$tomato-a-900: #D72400DA;
$tomato-a-950: #CD2200EA;
$tomato-a-1000: #460900E0;

/** Purple Alpha */
$purple-a-50: #AA00AA03;
$purple-a-100: #8000E008;
$purple-a-200: #8E00F112;
$purple-a-300: #8D00E51D;
$purple-a-400: #8000DB2A;
$purple-a-500: #7A01D03B;
$purple-a-600: #6D00C350;
$purple-a-700: #6600C06C;
$purple-a-800: #5C00ADB1;
$purple-a-900: #53009EB8;
$purple-a-950: #52009ABA;
$purple-a-1000: #250049DF;

/** Violet Alpha */
$violet-a-50: #5500AA03;
$violet-a-100: #4900FF07;
$violet-a-200: #4400EE0F;
$violet-a-300: #4300FF1B;
$violet-a-400: #3600FF26;
$violet-a-500: #3100FB35;
$violet-a-600: #2D01DD4A;
$violet-a-700: #2B00D066;
$violet-a-800: #2400B7A9;
$violet-a-900: #2300ABB2;
$violet-a-950: #1F0099AF;
$violet-a-1000: #0B0043D9;

/** Indigo Alpha */
$indigo-a-50: #00008002;
$indigo-a-100: #0040FF08;
$indigo-a-200: #0047F112;
$indigo-a-300: #0044FF1E;
$indigo-a-400: #0044FF2D;
$indigo-a-500: #003EFF3E;
$indigo-a-600: #0037ED54;
$indigo-a-700: #0034DC72;
$indigo-a-800: #0031D2C1;
$indigo-a-900: #002EC9CC;
$indigo-a-950: #002BB7C5;
$indigo-a-1000: #001046E0;

/** Blue Alpha */
$blue-a-50: #0080FF04;
$blue-a-100: #008CFF0B;
$blue-a-200: #008FF519;
$blue-a-300: #009EFF2A;
$blue-a-400: #0093FF3D;
$blue-a-500: #0088F653;
$blue-a-600: #0083EB71;
$blue-a-700: #0084E6A1;
$blue-a-800: #0090FF;
$blue-a-900: #0588F0;
$blue-a-950: #006DCBF2;
$blue-a-1000: #5B5C5DEE;

/** Cyan Alpha */
$cyan-a-50: #0099CC05;
$cyan-a-100: #009DB10D;
$cyan-a-200: #00C2D121;
$cyan-a-300: #00BCD435;
$cyan-a-400: #01B4CC4A;
$cyan-a-500: #00A7C162;
$cyan-a-600: #009FBB82;
$cyan-a-700: #00A3C0C2;
$cyan-a-800: #00A2C7;
$cyan-a-900: #0094B7F8;
$cyan-a-950: #007491EF;
$cyan-a-1000: #00323EF2;

/** Teal Alpha */
$teal-a-50: #00CC9905;
$teal-a-100: #00AA800C;
$teal-a-200: #00C69D1F;
$teal-a-300: #00C39633;
$teal-a-400: #00B49047;
$teal-a-500: #00A6855E;
$teal-a-600: #0099807C;
$teal-a-700: #009783AC;
$teal-a-800: #009E8CED;
$teal-a-900: #009684F2;
$teal-a-950: #008573;
$teal-a-1000: #00332DF2;

/** Green Alpha */
$green-a-50: #00C04004;
$green-a-100: #00A32F0B;
$green-a-200: #00A43319;
$green-a-300: #00A83829;
$green-a-400: #019C393B;
$green-a-500: #00963C52;
$green-a-600: #00914071;
$green-a-700: #00924BA4;
$green-a-800: #008F4ACF;
$green-a-900: #008647D4;
$green-a-950: #00713FDE;
$green-a-1000: #002616E6;

/** Grass Alpha */
$grass-a-50: #00C00004;
$grass-a-100: #0099000A;
$grass-a-200: #00970016;
$grass-a-300: #009F0725;
$grass-a-400: #00930536;
$grass-a-500: #008F0A4D;
$grass-a-600: #018B0F6B;
$grass-a-700: #008D199A;
$grass-a-800: #008619B9;
$grass-a-900: #007B17C1;
$grass-a-950: #006514D5;
$grass-a-1000: #002006DF;

/** Orange Alpha */
$orange-a-50: #C0400004;
$orange-a-100: #FF8E0012;
$orange-a-200: #FF9C0029;
$orange-a-300: #FF91014A;
$orange-a-400: #FF8B0065;
$orange-a-500: #FF81007D;
$orange-a-600: #ED6C008C;
$orange-a-700: #E35F00AA;
$orange-a-800: #F65E00EA;
$orange-a-900: #EF5F00;
$orange-a-950: #CC4E00C5;
$orange-a-1000: #431200E2;

/** Brown Alpha */
$brown-a-50: #AA550003;
$brown-a-100: #AA550009;
$brown-a-200: #A04B0018;
$brown-a-300: #9B4A0026;
$brown-a-400: #9F4D0035;
$brown-a-500: #A04E0048;
$brown-a-600: #A34E0060;
$brown-a-700: #9F4A0081;
$brown-a-800: #823C00A7;
$brown-a-900: #723300AC;
$brown-a-950: #522100B9;
$brown-a-1000: #140600D1;

/** Red Alpha */
$red-a-50: #FF000003;
$red-a-100: #FF000008;
$red-a-200: #F3000D14;
$red-a-300: #FF000824;
$red-a-400: #FF000632;
$red-a-500: #F8000442;
$red-a-600: #DF000356;
$red-a-700: #D2000571;
$red-a-800: #DB0007B7;
$red-a-900: #D10005C1;
$red-a-950: #C40006D3;
$red-a-1000: #55000DE8;

/** Crimson Alpha */
$crimson-a-50: #FF005503;
$crimson-a-100: #E0004008;
$crimson-a-200: #FF005216;
$crimson-a-300: #F8005123;
$crimson-a-400: #E5004F31;
$crimson-a-500: #D0004B41;
$crimson-a-600: #BF004753;
$crimson-a-700: #B6004A6C;
$crimson-a-800: #E2005BC2;
$crimson-a-900: #D70056CB;
$crimson-a-950: #C4004FE2;
$crimson-a-1000: #530026E9;

/** Pink Alpha */
$pink-a-50: #FF00AA03;
$pink-a-100: #E0008008;
$pink-a-200: #F4008C16;
$pink-a-300: #E2008B23;
$pink-a-400: #D1008331;
$pink-a-500: #C0007840;
$pink-a-600: #B6006F53;
$pink-a-700: #AF006F6C;
$pink-a-800: #C8007FBF;
$pink-a-900: #C2007AC7;
$pink-a-950: #B60074D6;
$pink-a-1000: #59003BED;

/** Plum Alpha */
$plum-a-50: #AA00FF03;
$plum-a-100: #C000C008;
$plum-a-200: #CC00CC14;
$plum-a-300: #C200C921;
$plum-a-400: #B700BD2E;
$plum-a-500: #A400B03D;
$plum-a-600: #9900A852;
$plum-a-700: #9000A56E;
$plum-a-800: #89009EB5;
$plum-a-900: #7F0092BB;
$plum-a-950: #730086C1;
$plum-a-1000: #40004BE6;

/** Sky Alpha */
$sky-a-50: #00D5FF06;
$sky-a-100: #00A4DB0E;
$sky-a-200: #00B3EE1E;
$sky-a-300: #00ACE42E;
$sky-a-400: #00A1D841;
$sky-a-500: #0092CA56;
$sky-a-600: #0089C172;
$sky-a-700: #0085BF9F;
$sky-a-800: #00C7FE83;
$sky-a-900: #00BCF38B;
$sky-a-950: #00749E;
$sky-a-1000: #002540E2;

/** Mint Alpha */
$mint-a-50: #00D5AA06;
$mint-a-100: #00B18A0D;
$mint-a-200: #00D29E22;
$mint-a-300: #00CC9937;
$mint-a-400: #00C0914C;
$mint-a-500: #00B08663;
$mint-a-600: #00A17D81;
$mint-a-700: #009E7FB3;
$mint-a-800: #00D3A579;
$mint-a-900: #00C39982;
$mint-a-950: #007763FD;
$mint-a-1000: #00312AE9;

/** Lime Alpha */
$lime-a-50: #66990005;
$lime-a-100: #6B95000C;
$lime-a-200: #96C80029;
$lime-a-300: #8FC60042;
$lime-a-400: #81BB0059;
$lime-a-500: #72AA006E;
$lime-a-600: #61990087;
$lime-a-700: #559200AB;
$lime-a-800: #93E4009C;
$lime-a-900: #8FDC00B3;
$lime-a-950: #375F00D0;
$lime-a-1000: #1E2900E3;

/** Yellow Alpha */
$yellow-a-50: #AAAA0006;
$yellow-a-100: #F4DD0016;
$yellow-a-200: #FFEE0047;
$yellow-a-300: #FFE3016B;
$yellow-a-400: #FFD5008F;
$yellow-a-500: #EBBC0097;
$yellow-a-600: #D2A10098;
$yellow-a-700: #C99700C6;
$yellow-a-800: #FFE100D6;
$yellow-a-900: #FFDC00;
$yellow-a-950: #9E6C00;
$yellow-a-1000: #2E2000E0;

/** Amber Alpha */
$amber-a-50: #C0800004;
$amber-a-100: #F4D10016;
$amber-a-200: #FFDE003D;
$amber-a-300: #FFD40063;
$amber-a-400: #F8CF0088;
$amber-a-500: #EAB5008C;
$amber-a-600: #DC9B009D;
$amber-a-700: #DA8A00C9;
$amber-a-800: #FFB300C2;
$amber-a-900: #FFB300E7;
$amber-a-950: #AB6400;
$amber-a-1000: #341500DD;

/** Gray Alpha */
$gray-a-50: #00000003;
$gray-a-100: #00000006;
$gray-a-200: #0000000F;
$gray-a-300: #00000017;
$gray-a-400: #0000001F;
$gray-a-500: #00000026;
$gray-a-600: #00000031;
$gray-a-700: #00000044;
$gray-a-800: #00000072;
$gray-a-900: #0000007C;
$gray-a-950: #0000009B;
$gray-a-1000: #000000DF;

/** Mauve Alpha */
$mauve-a-50: #55005503;
$mauve-a-100: #2B005506;
$mauve-a-200: #20003618;
$mauve-a-300: #20003820;
$mauve-a-400: #14003527;
$mauve-a-500: #10003332;
$mauve-a-600: #08003145;
$mauve-a-700: #05001D73;
$mauve-a-800: #0500197D;
$mauve-a-900: #0400119C;
$mauve-a-950: #2B005506;
$mauve-a-1000: #020008E0;

/** Slate Alpha */
$slate-a-50: #00005503;
$slate-a-100: #00005506;
$slate-a-200: #00002D17;
$slate-a-300: #0009321F;
$slate-a-400: #00002F26;
$slate-a-500: #00062E32;
$slate-a-600: #00083046;
$slate-a-700: #00051D74;
$slate-a-800: #00071B7F;
$slate-a-900: #0007149F;
$slate-a-950: #00005506;
$slate-a-1000: #000509E3;

/** Sage Alpha */
$sage-a-50: #00804004;
$sage-a-100: #00402008;
$sage-a-200: #001F1519;
$sage-a-300: #00180820;
$sage-a-400: #00140D28;
$sage-a-500: #00140A34;
$sage-a-600: #000F0847;
$sage-a-700: #00110B79;
$sage-a-800: #00100A83;
$sage-a-900: #000A07A0;
$sage-a-950: #00402008;
$sage-a-1000: #000805E5;

/** Olive Alpha */
$olive-a-50: #00550003;
$olive-a-100: #00490007;
$olive-a-200: #00160018;
$olive-a-300: #00180020;
$olive-a-400: #00140028;
$olive-a-500: #000F0033;
$olive-a-600: #040F0047;
$olive-a-700: #050F0078;
$olive-a-800: #040E0082;
$olive-a-900: #020A00A0;
$olive-a-950: #00490007;
$olive-a-1000: #010600E3;

/** Sand Alpha */
$sand-a-50: #55550003;
$sand-a-100: #25250007;
$sand-a-200: #1F150019;
$sand-a-300: #1F180021;
$sand-a-400: #19130029;
$sand-a-500: #19140035;
$sand-a-600: #1915014A;
$sand-a-700: #0F0F0079;
$sand-a-800: #0C0C0083;
$sand-a-900: #080800A1;
$sand-a-950: #25250007;
$sand-a-1000: #060500E3;

/** Bronze Alpha */
$bronze-a-50: #55000003;
$bronze-a-100: #CC33000A;
$bronze-a-200: #80280020;
$bronze-a-300: #7423002C;
$bronze-a-400: #7324003A;
$bronze-a-500: #6C1F004C;
$bronze-a-600: #671C0066;
$bronze-a-700: #551A008D;
$bronze-a-800: #4C150097;
$bronze-a-900: #3D0F00AB;
$bronze-a-950: #CC33000A;
$bronze-a-1000: #1D0600D4;

/** Gold Alpha */
$gold-a-50: #55550003;
$gold-a-100: #9D8A000D;
$gold-a-200: #6B4E0024;
$gold-a-300: #60460030;
$gold-a-400: #64440040;
$gold-a-500: #63420055;
$gold-a-600: #633D0072;
$gold-a-700: #5332009A;
$gold-a-800: #492D00A1;
$gold-a-900: #362100B4;
$gold-a-950: #9D8A000D;
$gold-a-1000: #130C00D4;

/** Ruby */
$ruby-50: #FFFCFD;
$ruby-100: #FFF7F9;
$ruby-200: #FFDCE1;
$ruby-300: #FFCED6;
$ruby-400: #F8BFC8;
$ruby-500: #EFACB8;
$ruby-600: #E592A3;
$ruby-700: #E54666;
$ruby-800: #DC3B5D;
$ruby-900: #CA244D;
$ruby-950: #FFF7F9;
$ruby-1000: #64172B;

/** Ruby Alpha */
$ruby-a-50: #FF005503;
$ruby-a-100: #FF002008;
$ruby-a-200: #FF002523;
$ruby-a-300: #FF002A31;
$ruby-a-400: #E4002440;
$ruby-a-500: #CE002553;
$ruby-a-600: #C300286D;
$ruby-a-700: #DB002CB9;
$ruby-a-800: #D2002CC4;
$ruby-a-900: #C10030DB;
$ruby-a-950: #FF002008;
$ruby-a-1000: #550016E8;

/** Iris Alpha */
$iris-a-50: #0000FF02;
$iris-a-100: #0000FF07;
$iris-a-200: #000BFF19;
$iris-a-300: #000EFF25;
$iris-a-400: #000AFF34;
$iris-a-500: #0008E647;
$iris-a-600: #0008D964;
$iris-a-700: #0000C0A4;
$iris-a-800: #0000B6AE;
$iris-a-900: #0600ABAC;
$iris-a-950: #0000FF07;
$iris-a-1000: #000246D8;

/** Iris */
$iris-50: #FDFDFF;
$iris-100: #F8F8FF;
$iris-200: #E6E7FF;
$iris-300: #DADCFF;
$iris-400: #CBCDFF;
$iris-500: #B8BAF8;
$iris-600: #9B9EF0;
$iris-700: #5B5BD6;
$iris-800: #5151CD;
$iris-900: #5753C6;
$iris-950: #F8F8FF;
$iris-1000: #272962;

/** Jade */
$jade-50: #FBFEFD;
$jade-100: #F4FBF7;
$jade-200: #D6F1E3;
$jade-300: #C3E9D7;
$jade-400: #ACDEC8;
$jade-500: #8BCEB6;
$jade-600: #56BA9F;
$jade-700: #29A383;
$jade-800: #26997B;
$jade-900: #208368;
$jade-950: #F4FBF7;
$jade-1000: #1D3B31;

/** Jade Alpha */
$jade-a-50: #00C08004;
$jade-a-100: #00A3460B;
$jade-a-200: #00A85129;
$jade-a-300: #00A2553C;
$jade-a-400: #009A5753;
$jade-a-500: #00945F74;
$jade-a-600: #00976EA9;
$jade-a-700: #00916BD6;
$jade-a-800: #008764D9;
$jade-a-900: #007152DF;
$jade-a-950: #00A3460B;
$jade-a-1000: #002217E2;

/** Custom */
$custom-50: #FCFCFC;
$custom-100: #F9F9F9;
$custom-200: #E8E8E8;
$custom-300: #E1E1E1;
$custom-400: #D9D9D9;
$custom-500: #CECECE;
$custom-600: #BBBBBB;
$custom-700: #000000;
$custom-800: #2E2E2E;
$custom-900: #646464;
$custom-950: #F9F9F9;
$custom-1000: #202020;

/** Custom Alpha */
$custom-a-50: #00000003;
$custom-a-100: #00000006;
$custom-a-200: #00000017;
$custom-a-300: #0000001E;
$custom-a-400: #00000026;
$custom-a-500: #00000031;
$custom-a-600: #00000044;
$custom-a-700: #000000;
$custom-a-800: #000000D1;
$custom-a-900: #0000009B;
$custom-a-950: #00000006;
$custom-a-1000: #000000DF;

/** Overlays Black Alpha */
$black-a-50: #0000000D;
$black-a-100: #0000001A;
$black-a-200: #00000033;
$black-a-300: #0000004D;
$black-a-400: #00000066;
$black-a-500: #00000080;
$black-a-600: #00000099;
$black-a-700: #000000B2;
$black-a-800: #000000CC;
$black-a-900: #000000E5;
$black-a-950: #0000001A;
$black-a-1000: #000000F2;

/** Overlays White Alpha */
$white-a-50: #FFFFFF0D;
$white-a-100: #FFFFFF1A;
$white-a-200: #FFFFFF33;
$white-a-300: #FFFFFF4D;
$white-a-400: #FFFFFF66;
$white-a-500: #FFFFFF80;
$white-a-600: #FFFFFF99;
$white-a-700: #FFFFFFB2;
$white-a-800: #FFFFFFCC;
$white-a-900: #FFFFFFE5;
$white-a-950: #FFFFFF1A;
$white-a-1000: #FFFFFFF2;

$white: #FFFFFF;
$slate: "#F6F7F9";
$gray: "#EFF2F5";
